<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Добавить водителя в базу </title>
</head>
<body>
<th:block th:include="/fragments/menu"> </th:block>

<th:block th:include="/fragments/menu1"> </th:block>


<h3>Введите данные водителя:</h3>
<form name='createDriver' th:action="@{/drivers/create}" method='POST'>
    <table>
        <tr>
            <td>Полное имя:</td>
            <td><input type='text' name='fullName' value=''></td>
        </tr>
        <tr>
            <td>Возраст:</td>
            <td><input type='text' name='age' value=''></td>
        </tr>
        <tr>
            <td>Уровень опыта:</td>
            <td><input type='text' name='expirience' value=''></td>
        </tr>

        <tr>
            <td><input name="submit" type="submit" value="Сохранить"/></td>
        </tr>
    </table>
</form>

</body>

</html>
