<!DOCTYPE html>
<html
    <html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Groups Get </title>
</head>
<body>
    <th:block th:include="/fragments/menu"></th:block>

    <div th:if="${#request.isUserInRole('ROLE_ADMIN') || #request.isUserInRole('ROLE_DIRECTOR')}">
        <th:block th:include="/fragments/menu1"> </th:block>
    </div>

<table border = "1">

    <tr>
        <th>Имя водителя</th>
        <th>Возраст</th>
        <th>Уровень опыта </th>
        <th>Свободен</th>
    </tr>
    <tr th:each = "driver : ${drivers}">
        <td th:utext="${driver.fullName}">...</td>
        <td th:utext="${driver.age}">...</td>
        <td th:utext="${driver.expirience}">...</td>
        <td th:utext="${driver.available}">...</td>
    </tr>
</table>

</body>
</html>