<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:include="/fragments/menu"></th:block>
    <th:block th:include="/fragments/menu1"></th:block>


       <h1>Распределенные заявки</h1>


    <table border = "1">
        <tr>
            <th>Дата</th>
            <th>Груз</th>
            <th>Пункт доставки</th>
            <th>Вес</th>
            <th>Статус</th>
            <th>Водитель</th>
            <th>Машина</th>
        </tr>
        <tr th:each = "route : ${routes}">
            <td th:utext="${route.date}">...</td>
            <td th:utext="${route.orderId.cargoId.name}">...</td>
            <td th:utext="${route.orderId.destinationId.name}">...</td>
            <td th:utext="${route.orderId.weight}">...</td>
            <td th:utext="${route.orderId.status}">...</td>
            <td th:utext="${route.truckDriverId.driverId.fullName}">...</td>
            <td th:utext="${route.truckDriverId.truckId.Name}">...</td>
        </tr>
    </table>

</body>
</html>