<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="${title}"></title>
</head>
<body>
<th:block th:include="/fragments/menu"> </th:block>

<th:block th:include="/fragments/menu1"> </th:block>


<h3>Зарплатная ведомость:</h3>

    <table border = "1">
        <tr>
            <th>День</th>
            <th>Груз</th>
            <th>Пункт назначения </th>
            <th>Водитель</th>
            <th>Сумма</th>
        </tr>
        <tr th:each = "sal : ${salary}">
            <td th:utext="${sal.getRouteId().getDate()}">...</td>
            <td th:utext="${sal.getRouteId().getOrderId().getCargoId().getName()}">...</td>
            <td th:utext="${sal.getRouteId().getOrderId().getDestinationId().getName()}">...</td>
            <td th:utext="${sal.getRouteId().getTruckDriverId().getDriverId().getFullName()}">...</td>
            <td th:utext="${sal.getSumma()}">...</td>
        </tr>
    </table>


</body>

</html>
