<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> UpdateCourse </title>
</head>
<body>
<div>

    <a th:href="@{/}">Главная</a>

    &nbsp; | &nbsp;

    <a th:if="${#request.userPrincipal != null}" th:href="@{/userInfo}">Кабинет </a>

    <a th:if="${#request.userPrincipal != null}" > &nbsp; | &nbsp; </a>


    <a th:if="${#request.isUserInRole('ROLE_ADMIN')  || #request.isUserInRole('ROLE_DIRECTOR') }" th:href="@{/drivers/get}">Список водителей </a>

    <a th:if="${#request.isUserInRole('ROLE_ADMIN')|| #request.isUserInRole('ROLE_DIRECTOR')}" > &nbsp; | &nbsp; </a>

    <a th:if="${#request.isUserInRole('ROLE_ADMIN')  || #request.isUserInRole('ROLE_DIRECTOR') }" th:href="@{/trucks/get}">Список машин </a>

    <a th:if="${#request.isUserInRole('ROLE_ADMIN')|| #request.isUserInRole('ROLE_DIRECTOR')}" > &nbsp; | &nbsp; </a>

    <a th:if="${#request.isUserInRole('ROLE_ADMIN') || #request.isUserInRole('ROLE_DIRECTOR')  }" th:href="@{/statistic}">Статистика </a>

    <a th:if="${#request.isUserInRole('ROLE_ADMIN') || #request.isUserInRole('ROLE_DIRECTOR')}" > &nbsp; | &nbsp; </a>


    <a th:if="${ #request.isUserInRole('ROLE_DIRECTOR') || #request.isUserInRole('ROLE_ADMIN')   }" th:href="@{/salary/get}">Зарплатная ведомость </a>

    <a th:if="${ #request.isUserInRole('ROLE_DIRECTOR') || #request.isUserInRole('ROLE_ADMIN')}" > &nbsp; | &nbsp; </a>

    <a th:if="${#request.isUserInRole('ROLE_DRIVER') || #request.isUserInRole('ROLE_DIRECTOR') || #request.isUserInRole('ROLE_ADMIN')  }" th:href="@{/salaryDriver}">Зарплата водителя</a>

    <a th:if="${#request.isUserInRole('ROLE_DRIVER') || #request.isUserInRole('ROLE_DIRECTOR') || #request.isUserInRole('ROLE_ADMIN') }" > &nbsp; | &nbsp; </a>



    <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Выйти</a>

</div>

<div >


    <a th:if="${#request.isUserInRole('ROLE_ADMIN')   }" th:href="@{/createDriver}">Добавить водителя </a>

    <a th:if="${#request.isUserInRole('ROLE_ADMIN')}" > &nbsp; | &nbsp; </a>

    <a th:if="${#request.isUserInRole('ROLE_ADMIN')   }" th:href="@{/updateDriver}">Изменить уровень опыта водителя </a>

    <a th:if="${#request.isUserInRole('ROLE_ADMIN')}" > &nbsp; | &nbsp; </a>
    <a th:if="${#request.isUserInRole('ROLE_ADMIN')   }" th:href="@{/destinations/get}">Все пункты назначения</a>

    <a th:if="${#request.isUserInRole('ROLE_ADMIN')}" > &nbsp; | &nbsp; </a>
    <a th:if="${#request.isUserInRole('ROLE_ADMIN')   }" th:href="@{/orders/get}">Полученные заявки</a>

    <a th:if="${#request.isUserInRole('ROLE_ADMIN')}" > &nbsp; | &nbsp; </a>
    <a th:if="${#request.isUserInRole('ROLE_ADMIN')   }" th:href="@{/routes/get}">Распределенные заявки</a>

    <a th:if="${#request.isUserInRole('ROLE_ADMIN')}" > &nbsp; | &nbsp; </a>
    <a th:if="${#request.isUserInRole('ROLE_ADMIN')   }" th:href="@{/truckrepair/get}">Машины в ремонте</a>

    <a th:if="${#request.isUserInRole('ROLE_ADMIN')}" > &nbsp; | &nbsp; </a>

</div>

<h3>Водитель с наибольшей зарплатой:</h3>
<table border = "1">
    <tr>
        <th>Имя водителя</th>
        <th> Общая зарплата</th>
    </tr>
    <tr>
        <td th:utext="${driver.getName()}">...</td>
        <td th:utext="${driver.getAllSumma}">...</td>
    </tr>
</table>
<hr/>
<h3>Наиболее частый пункт доставки:</h3>

       <h1 th:utext="${destination}">...</h1>
<hr/>

<h3>Наиболее часто перевозимый груз</h3>
<h1 th:utext="${cargo}"></h1>
<hr/>

<h3>Наименьший вес перевезенного груза</h3>
<h1 th:utext="${mincargo}"></h1>
<hr/>
<h3>Все грузы перевезенные в Vinnitsa</h3>
<table  border = "1">
    <tr>
        <th>Название груза</th>
        <th>Вес</th>
    </tr>
    <tr th:each = "order : ${orders}">
        <td th:utext="${order.getCargoId().getName()}">...</td>
        <td th:utext="${order.getWeight()}">...</td>

    </tr>
</table>

</body>

</html>
