<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:include="/fragments/menu"></th:block>
    <div th:if="${#request.isUserInRole('ROLE_ADMIN') || #request.isUserInRole('ROLE_DIRECTOR')}">
        <th:block th:include="/fragments/menu1"> </th:block>

</div>

<table border = "1">

    <tr>
        <th>Название </th>
        <th>Грузоподъемность </th>
        <th>Исправность </th>
        <th>Свободна </th>
    </tr>
    <tr th:each = "truck : ${trucks}">
        <td th:utext="${truck.name}">...</td>
        <td th:utext="${truck.maxWeight}">...</td>
        <td th:utext="${truck.repairability}">...</td>
        <td th:utext="${truck.available}">...</td>
    </tr>
</table>

</body>
</html>


